html{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-wrap: wrap;
 
  margin: 0;
}

header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #2a2b38;
  border: black solid;
  border-width: 0.2em 0.2em 0.15em 0.2em;
}

.centre{
  display: flex;
}
main {
  flex-grow: 1;
  background-color: #101011;
}

.img_base {
  height: 4vw;
  width: 4vw;
  border-radius: 15%;
  margin-right: 2vw;
  margin-left: 2vw;
}

.img_reseau{
  height: 1.5vw;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.fin{
  text-align: center;
}

#nom_Entreprise {
  color: #ffffff;
  font-size: 1vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#fond_bouton{
  text-decoration: none;
}
#bouton_se_connecter {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffffff;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height:normal;
  min-height: 2.5em;
  outline:none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  font-size: 1vw;
  width: 11.1vw;
  justify-content: center;
  align-items: center;
  margin: 0.7vw;
}




#bouton_se_connecter:disabled {
  pointer-events: none;
}

#bouton_se_connecter:hover {
  color: #2a2b38;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#bouton_se_connecter:active {
  box-shadow: none;
  transform: translateY(0);
}
.username{
 
  text-decoration: none;
  flex-basis: 100%;
  color: white;
  font-size: 1vw;
}
.utilisateur{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 1100px) {
  #nom_Entreprise {
    margin-right: 0vw;
  }
}

.gauche {

  display: flex;
  flex-wrap: wrap;
  max-width: 15%;
  justify-content: center;
  align-items: center;
}
.d_aside{
    justify-content: center;
    align-items: center;
    background-color: #2a2b38;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 90%;
    margin: 1.5%;
    max-width: 96%;
  }

aside{
  height: 100%;
  flex-basis: 20%;
  background-color: black;
}

.redirection{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  
}
.redirection>li{
  padding-top: 2%;
  margin: 1.5em 0.75em;
  flex-basis: 100%;
}


#bouton_se_connecter>a{
  color: white;
  text-decoration: none;
}
#bouton_se_connecter>a:hover{
  color: black;
  text-decoration: none;
}




.droite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  
}

.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  flex-basis: 100%;
  background-color: #2a2b38;
  color: white;

}

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}


@media screen and (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
}


.btn {
  display: block;
  flex-basis: 100%;
  color: white;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 1em; 
  font-weight: 700;
  letter-spacing: 0.0625em; 
  text-transform: uppercase;
  padding: 0.4375em 1.25em; 
  margin: 0.4375em;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease 0s;
  width: auto;

}



.btn:focus,
.btn:hover{
  color: #000000;
  background: #ffffff;
}
.btn:before,
.btn:after{
  content: '';
  height: 100%;
  width: 80%;
  border: 2px solid white;
  border-right: none;
  border-bottom: none;
  position: absolute;
  left: -0.4375em; /* -7px */
  top: -0.4375em; /* -7px */
  transition: all 0.2s ease-in, width 0.5s cubic-bezier(.45,-0.33,.43,1.46);
}
.btn:after{
  transform: rotate(180deg);
  top: auto;
  left: auto;
  right: -0.4375em; /* -7px */
  bottom: -0.4375em; /* -7px */
}
.btn:hover:before,
.btn:hover:after{
  width: 30%;
}
@media only screen and (max-width: 767px){
  .btn{ margin-bottom: 1.875em; /* 30px */ }
}

a{
  text-decoration: none;
}