ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    flex-grow: 1;
    list-style: none;
}

form {display: flex;
}

img{
    height: 20vw;
    width: 20vw;
    border-radius: 12px;
    box-shadow: -1px 3px 49px -1px rgba(28,0,105,0.69);
-webkit-box-shadow: -1px 3px 49px -1px rgba(28,0,105,0.69);
-moz-box-shadow: -1px 3px 49px -1px rgba(28,0,105,0.69);
    margin: 50px;
}

img:hover {
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

input{
    flex-grow: 2;
    box-shadow: 0px 3px 49px -1px rgba(28,0,105,0.69);
-webkit-box-shadow: 0px 3px 49px -1px rgba(28,0,105,0.69);
-moz-box-shadow: 0px 3px 49px -1px rgba(28,0,105,0.69);

border-radius: 5px;
}

button{
    flex-grow: 1;
}



