<!DOCTYPE html>
<html lang="fr">
  <link rel="stylesheet" href="../static/base.css" />
  <head>
    <meta charset="utf-8" />
    <title>Music'o</title>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  </head>
  <body class="light">
    
    <header>
        <div class="gauche"><a href="">
            <img class="img_base" id="img1" src="../Data/images/logo.png" alt="image du logo de l'application" />
          </a>
          <h2 id="nom_Entreprise">MUSIC'O</h2>
      </div>
        
      <div class="droite">
        <button type="button" id="bouton_se_connecter">Se connecter</button>
        </ul>
      </div> 
    </header>
    <aside >
        <div class="d_aside">
            <ul class="redirection">
            <li><button type="button" id="bouton_se_connecter"><a href="">Accueil</a></button></li>
            <li><button type="button" id="bouton_se_connecter"><a href="">Mes playlist</a></button>
            </li>
            <li><button type="button" id="bouton_se_connecter"><a href="">Mes likes</a></button></li>
        </ul>
    </div>
        
    </aside>
    <footer>
      <div class="container-footer">
        <div class="footer-section">
          <h3>À Propos</h3>
          <p>Notre mission est de créer une expérience inoubliable pour nos visiteurs</p>
        </div>
        <div class="footer-section">
          <h3>Contact</h3>
          <p>Téléphone: 01 23 45 67 89</p>
          <p>Email: contact@musico.fr</p>
          <p>Adresse: 123 Rue de la Musique, 75001 Paris, France</p>
        </div>
        <div class="footer-section">
          <h3>Suivez-nous</h3>
          <a href="https://facebook.com">
            <img class="img_reseau" id="imgF" src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook" />
          </a>
          <a href="https://twitter.com">
            <img class="img_reseau" id="imgX" src="{{ url_for('static', filename='img/X.png') }}" alt="Twitter" />
          </a>
          <a href="https://Instagram.com">
            <img class="img_reseau" id="imgX" src="{{ url_for('static', filename='img/Instagram.png') }}" alt="X" />
          </a>
        </div>
      </div>
      <div class="fin"><p>© 2024 MUSIC'O. Tous droits réservés.</p></div>      
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='script/App.js') }}"></script>
  </body>
</html>
