<!DOCTYPE html>
<html lang="fr">
  <link rel="stylesheet" href="../static/base.css" />
  <link rel="stylesheet" href="../static/home.css" />
  <head>
    <meta charset="utf-8" />
    <title>Music'o</title>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
  </head>
  <body class="light">
    
    <header>
        <div class="gauche"><a href="">
            <img class="img_base" id="img1" src="../Data/images/logomusico.png" alt="image du logo de l'application" />
          </a>
      </div>
        
      <div class="droite">
        <a href="./connexion.html"><button type="button" id="bouton_se_connecter">Se connecter</button></a>
        </ul>
      </div> 
    </header>
    <div class="centre">
    <aside>
        <div class="d_aside">
            <ul class="redirection">
            <li><a href="#" class="btn_a btn-lg desactiver">
                <span>Accueil</span>
            </a></li>
            <li><a href="#" class="btn_a btn-lg">
                <span>Mes playlist</span>
            </a></li>
            <li><a href="#" class="btn_a btn-lg">
                <span>Mes likes</span>
            </a></li>
        </ul>
    </div>
        
    </aside>
    <main>
      <form  class="searchBar"  action="#">
          <input type="text" placeholder="Nom de l'album" >
          <button type="submit" value="Filtrer">Filtrer</button>
      </form>
      <ul class="listeAl">
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
              </a>
          </li>
      </ul>
      
  </main>
</div>
    <footer>
      <div class="fin"><p>© 2024 MUSIC'O. Tous droits réservés.</p></div>      
    </footer>
  </body>
</html>
