<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/home.css">
        </head>
        <body>
            <main>
                <form action="#">
                    <input type="text" placeholder="Nom de l'album" >
                    <button type="submit" value="Filtrer">Filtrer</button>
                </form>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Data/images/Illustration_sans_titre.PNG" alt="">
                        </a>
                    </li>
                </ul>
                
            </main>
        </body>
</html>