<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fictional Profile</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/profil.css">

</head>
<body>
    <body class="light">
    
        <header>
            <div class="gauche"><a href="">
                <img class="img_base" id="img1" src="../Data/images/logomusico.png" alt="image du logo de l'application" />
              </a>
          </div>
            
          <div class="droite">
            <a href="./deconnexion.php"><button type="button" id="bouton_se_connecter">Déconnexion</button></a>
        </ul>
          </div> 
        </header>
        <div class="centre">
        <aside>
            <div class="d_aside">
                <ul class="redirection">
                <li><a href="../index.php" class="btn_a btn-lg desactiver">
                    <span>Accueil</span>
                </a></li>
                <li><a href="./playlists.php" class="btn_a btn-lg">
                    <span>Mes playlist</span>
                </a></li>
                <li><a href="./noter.php" class="btn_a btn-lg">
                    <span>Mes Notes</span>
                </a></li>
            </ul>
        </div>
            
        </aside>

<main>
    <div id="gradient"></div>
        <div id="card">
            <img src="../Data/images/imageartiste.jpg"/>
            <div class="info">
                <h2>Léni Chabilan</h2>
                <p>email : leni.chabilan@hotmail.fr</p>
                <p>Mdp : mdp123</p>
                <p>Role : Utilisateur</p>
                <p> tel: 0768438407</p>
                <p>DdN : 13/07/2004</p> 
            </div>
            <div class="bouton">
                <ul class="liste_bouton">
                    <li class="logout">
                        <a href="path/to/modifier_profil" id="fond_boutone" class="noligne">
                            <button type="button" class="button type1">Modifier</button>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="path/to/logout" id="fond_boutone" class="noligne">
                            <button type="button" class="button type1">Se déconnecter</button>
                        </a>
                    </li>
                </ul>
        </div>
    </div>

</main>
</div>
<footer>
    <div class="fin"><p>© 2024 MUSIC'O. Tous droits réservés.</p></div>      
  </footer>
</body>
</html>