<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fictional Profile</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>

<main>
<div id="gradient"></div>
<div id="card">
  <img src="imageartiste.jpg"/>
  <h2>Léni Chabilan</h2>
  <p>email : leni.chabilan@hotmail.fr</p>
  <p>Mdp : mdp123</p>
  <p>Role : Utilisateur</p>
  <p> tel: 0768438407</p>
  <p>DdN : 13/07/2004</p> 
  <div class="bouton">
    <ul class="liste_bouton">
        <li class="logout">
            <a href="path/to/modifier_profil" id="fond_boutone" class="noligne">
                <button type="button" id="bouton_se_connecte">Modifier</button>
            </a>
        </li>
        <li class="logout">
            <a href="path/to/logout" id="fond_boutone" class="noligne">
                <button type="button" id="bouton_se_connecte">Se déconnecter</button>
            </a>
        </li>
    </ul>
</div>
</div>

</main>

</body>
</html>